@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements */
*, *::before, *::after, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* inputs */
input, button, textarea, select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-padding-start: 0;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em; }

/* inputs appearance (not for every input)  */
input[type=text], input[type=reset], input[type=password], input[type=search], input[type=email], input[type=tel], input[type=url], input[type=time], input[type=week], input[type=month], input[type=date], input[type=datetime], input[type=datetime-local], input[type=number],
input[type=submit], input[type=reset], input[type=color], input[type=file],
button, textarea, select {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* input color width */
input[type=color] {
  width: 1em; }

/* IE clear cross */
input::-ms-clear {
  display: none; }

/* details and summary */
details, summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* text size adjusting */
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* mark */
mark {
  background: none; }

/* Font smoothing */
*, *::before, *::after, *:before, *:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* hr */
hr {
  height: 1px;
  margin: 0;
  padding: 0; }

/* u */
u {
  text-decoration: none; }

/* th */
table th {
  text-align: left; }

/* a */
a {
  color: inherit;
  outline: none; }

#content {
  overflow: hidden; }

.home-intro {
  width: 100%;
  height: 100vh;
  padding: 20px 20px;
  overflow: hidden; }

.home-intro .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.home-intro .thumbnail img {
  width: 100%;
  height: 100%;
  transform: scale(1.2); }

.intro-background-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%; }

.intro-background-wrapper:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.7);
  transform: rotate(-180deg);
  z-index: 1; }

.intro__content {
  position: relative;
  z-index: 2;
  text-align: center; }

.intro__content h1 {
  color: #fefefe;
  font-size: 80px;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: 63px; }
  @media screen and (max-width: 768px) {
    .intro__content h1 {
      font-size: 40px; } }

.intro__content p {
  color: #fefefe;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.2; }

.intro__content p:last-child {
  margin-top: 60px;
  font-size: 12px; }

.citation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
  padding: 200px 0;
  font-family: 'Abril Fatface', cursive; }

.citation__titleBkg {
  position: absolute;
  top: -300px;
  z-index: -11;
  font-size: 10rem;
  color: #fff;
  opacity: .1;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .citation__titleBkg {
      font-size: 5rem; } }

.citation__decoration {
  text-align: center;
  font-size: 2rem; }

.citation__content {
  width: 505px;
  font-size: 48px;
  text-align: center;
  padding: 40px 0; }
  @media screen and (max-width: 768px) {
    .citation__content {
      width: auto;
      margin: 0 10% 0 10%; } }

.home-profile {
  position: relative;
  width: 100%;
  background: #EEC901;
  padding: 100px 0;
  margin-bottom: 200px; }

.home-profile .home-profile-text-wrapper {
  color: #212121;
  font-family: 'Poppins', sans-serif;
  vertical-align: top;
  z-index: -1; }

.profil-content-wrapper {
  width: 80vw;
  margin: 0 auto; }

.home-profile .home-profile-text-wrapper > div h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 100px;
  font-family: 'Abril Fatface', cursive; }

.home-profile .home-profile-text-wrapper > div p {
  font-size: 18px;
  line-height: 35px;
  max-width: 700px;
  margin-bottom: 120px; }
  @media screen and (max-width: 768px) {
    .home-profile .home-profile-text-wrapper > div p {
      font-size: 1rem;
      line-height: 24px; } }

.home-profile .profil-content-wrapper
.home-profile-text-wrapper .thumbnail {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 900px;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .home-profile .profil-content-wrapper
.home-profile-text-wrapper .thumbnail {
      right: 0;
      height: auto; } }
  .home-profile .profil-content-wrapper
.home-profile-text-wrapper .thumbnail img {
    height: 100%;
    width: auto; }
    @media screen and (max-width: 768px) {
      .home-profile .profil-content-wrapper
.home-profile-text-wrapper .thumbnail img {
        width: 40%; } }

.home-perceverant {
  position: relative; }

.home-perceverant .thumbnail {
  max-width: 60%;
  height: auto;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .home-perceverant .thumbnail {
      height: 500px;
      padding: 50px 0;
      width: 75%; } }

.home-perceverant .perceverant-content-wrapper
.home-perceverant-text-wrapper {
  position: absolute;
  top: 35%;
  right: 0;
  background: #eec901;
  width: 55%;
  max-height: 470px;
  opacity: .9;
  z-index: 9;
  color: #000;
  padding: 100px 0; }
  @media screen and (max-width: 768px) {
    .home-perceverant .perceverant-content-wrapper
.home-perceverant-text-wrapper {
      height: auto;
      padding: 50px 0;
      width: 75%;
      top: 55%; } }

.home-perceverant .perceverant-content-wrapper
.home-perceverant-text-wrapper div {
  width: 70%;
  margin: auto;
  height: 271px; }
  @media screen and (max-width: 768px) {
    .home-perceverant .perceverant-content-wrapper
.home-perceverant-text-wrapper div {
      width: auto;
      margin: 0 15px 0 15px; } }

.home-perceverant .perceverant-content-wrapper
.home-perceverant-text-wrapper div h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 100px;
  font-family: 'Abril Fatface', cursive; }
  @media screen and (max-width: 768px) {
    .home-perceverant .perceverant-content-wrapper
.home-perceverant-text-wrapper div h1 {
      font-size: 20px;
      margin-bottom: 30px; } }

.home-perceverant .perceverant-content-wrapper
.home-perceverant-text-wrapper div p {
  font-size: 18px;
  line-height: 35px;
  font-family: 'Poppins', sans-serif; }
  @media screen and (max-width: 768px) {
    .home-perceverant .perceverant-content-wrapper
.home-perceverant-text-wrapper div p {
      font-size: .9rem;
      line-height: 24px; } }

.home__decorationPaint {
  width: 1000px;
  height: 600px;
  background: url("../../images/paint1.png") no-repeat center;
  background-size: 100%;
  transform: translateX(-50%); }

.home-revolution {
  position: relative;
  padding: 100px 0; }

.home-revolution .revolution-content-wrapper .home-revolution-text-wrapper {
  width: 60%;
  height: 600px;
  background: #EEC901;
  color: #212121;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  z-index: -1;
  padding: 100px 0; }
  @media screen and (max-width: 768px) {
    .home-revolution .revolution-content-wrapper .home-revolution-text-wrapper {
      height: auto;
      padding: 50px 0;
      width: 75%; } }

.home-revolution .revolution-content-wrapper .home-revolution-text-wrapper > div {
  max-width: 466px;
  margin-left: 50px; }
  @media screen and (max-width: 768px) {
    .home-revolution .revolution-content-wrapper .home-revolution-text-wrapper > div {
      max-width: 250px;
      margin-left: 15px;
      margin-right: 15px; } }

.home-revolution .home-revolution-text-wrapper > div h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 100px;
  font-family: 'Abril Fatface', cursive; }
  @media screen and (max-width: 768px) {
    .home-revolution .home-revolution-text-wrapper > div h1 {
      font-size: 20px;
      margin-bottom: 30px; } }

.history__direction:hover {
  color: #E3B721;
  text-decoration: none; }

.actuality__direction__link:hover {
  color: #E3B721;
  text-decoration: none; }

.home-revolution .home-revolution-text-wrapper p {
  font-size: 18px;
  line-height: 35px; }
  @media screen and (max-width: 768px) {
    .home-revolution .home-revolution-text-wrapper p {
      font-size: .9rem;
      line-height: 24px; } }

.home-revolution .revolution-content-wrapper .thumbnail {
  position: absolute;
  width: 50%;
  z-index: 9;
  top: -30px;
  right: 0; }
  @media screen and (max-width: 768px) {
    .home-revolution .revolution-content-wrapper .thumbnail {
      top: -220px;
      width: 75%; } }
  .home-revolution .revolution-content-wrapper .thumbnail img {
    width: 100%;
    height: auto; }

.history {
  position: relative;
  margin-top: 20px;
  margin-bottom: 400px; }

.history__direction {
  text-align: center;
  margin-bottom: 220px; }

.history__directionText {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 2rem; }

.history__directionArrow {
  margin-bottom: 59px; }

.history__directionSeparator {
  background: #eec901;
  height: 2px;
  transform-origin: center;
  border: none;
  transform: scaleX(0.6); }

.history__bkgImage {
  position: absolute;
  top: 200px;
  right: 0;
  transform-origin: center;
  transform: rotate(180deg);
  z-index: -1; }

.history__titleBkg {
  position: absolute;
  left: -1190px;
  z-index: -1;
  font-size: 9rem;
  color: #fff;
  opacity: .1;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase; }

.slider__description {
  z-index: 2; }

.slider__title {
  font-family: 'Abril Fatface', cursive;
  font-size: 3.2rem;
  margin-bottom: 100px; }

.slider__paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  padding-bottom: 52px;
  line-height: 1.3; }

.slider__description > p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.3; }

.slider__description > p:last-child {
  padding-bottom: 52px; }

.slider__paragraph strong {
  font-weight: bold; }

.slider__paragraph strong.colored {
  color: #eec901; }

.slider__elements {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0%;
  z-index: 1;
  top: 10vh; }

.slider__elementsBkgImage {
  position: absolute;
  z-index: -1;
  left: 0;
  transform-origin: center;
  transform: translateX(-50%) rotate(-78deg); }
  .slider__elementsBkgImage img {
    height: 100%; }

.slider__elSlide {
  position: relative;
  width: 300px;
  height: 600px;
  overflow: hidden; }
  .slider__elSlide:nth-child(1) {
    top: 230px; }
  .slider__elSlide:nth-child(2) {
    top: 150px; }
  .slider__elSlide:nth-child(3) {
    top: 60px; }
  .slider__elSlide img {
    width: 100%;
    height: auto; }

.actuality {
  position: relative;
  margin-top: 189px;
  margin-bottom: 400px; }
  @media screen and (max-width: 768px) {
    .actuality {
      margin-bottom: 40px; } }

.actuality__direction {
  text-align: center;
  margin-bottom: 220px; }

.actuality__directionText {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 2rem; }

.actuality__directionArrow {
  margin-bottom: 59px; }

.actuality__directionSeparator {
  background: #eec901;
  height: 2px;
  transform-origin: center;
  border: none;
  transform: scaleX(0.6); }

.actuality__bkgImage {
  position: absolute;
  top: 200px;
  right: 0;
  transform-origin: center;
  transform: rotate(150deg) translateX(-20%);
  z-index: -1; }

.actuality__titleBkg {
  position: absolute;
  right: -1000px;
  z-index: -1;
  font-size: 9rem;
  color: #fff;
  opacity: .1;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase; }

.actuality__articlesWrapper {
  width: 100%; }

.actuality__articles {
  border-radius: 0;
  background: none;
  border: none;
  font-family: 'Poppins', sans-serif; }

.actuality-thumbnail img {
  max-width: 100%;
  height: auto; }

.actuality__articles .card-block .card-date {
  margin: 15px 0;
  text-transform: uppercase;
  color: #E3B721; }

.card-date {
  font-style: italic; }

.card-title {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #E3B721; }

.card-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2; }

.card-btn {
  margin-top: 10px;
  width: 100%;
  font-weight: 700; }

.card-btn:hover {
  color: #E3B721; }

.card-btn p {
  margin-bottom: 10px; }

.blog__directionText {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 2rem;
  text-align: center; }

.blog__directionArrow {
  margin-bottom: 59px;
  text-align: center; }

.home__footer {
  overflow: hidden; }

.home__footerImg {
  width: 100%;
  transform-origin: center;
  transform: scale(1.5); }
  .home__footerImg img {
    width: 100%;
    height: auto; }

.biography__intro {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center; }

.biography__introContent {
  padding-top: 20%; }
  .biography__introContent h1 {
    color: #fefefe;
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 63px; }

.biography__1960 {
  padding-top: 10%; }
  .biography__1960:before {
    content: url(http://localhost:8888/wordpressBasquiat/wp-content/uploads/2017/11/brush1.png);
    position: absolute;
    left: 50%;
    bottom: 0; }
  @media screen and (max-width: 640px) {
    .biography__1960 {
      left: 0; } }

.biography__introContent p {
  color: #fefefe;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.2; }

.biography__year1960 {
  height: 80%;
  width: 5px;
  opacity: 0.6;
  background: #E9C22A;
  position: absolute;
  left: -50px; }
  .biography__year1960:before {
    content: '1960';
    transform: rotate(-90deg);
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    color: #FAFAFA;
    position: absolute;
    top: -70px;
    left: -35px; }

.biography__1960image {
  height: 100%;
  width: 100%; }

.biography__1960text h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 26px;
  color: #FAFAFA;
  padding-bottom: 5%; }

.biography__1960text p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #FAFAFA;
  line-height: 21px; }

.biography__1968 {
  padding-top: 10%;
  padding-bottom: 1%; }

.biography__year1968 {
  height: 80%;
  width: 5px;
  opacity: 0.6;
  background: #E9C22A;
  position: absolute;
  left: -50px; }
  .biography__year1968:before {
    content: '1968';
    transform: rotate(-90deg);
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    color: #FAFAFA;
    position: absolute;
    top: -70px;
    left: -35px; }

.biography__1968image {
  height: 100%;
  width: 100%; }

.biography__1968text h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 26px;
  color: #FAFAFA;
  padding-bottom: 5%; }

.biography__1968text p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #FAFAFA;
  line-height: 21px;
  padding-bottom: 5%; }

.biography__filligrane {
  font-family: 'Abril Fatface', cursive;
  font-size: 48px;
  color: #FAFAFA; }
  .biography__filligrane:before {
    font-family: 'Abril Fatface', cursive;
    font-size: 96px;
    color: #FAFAFA;
    opacity: 0.1;
    content: 'CARRIÈRE ARTISTIQUE';
    position: absolute;
    left: -50px; }

.biography__1976 {
  padding-top: 10%; }
  .biography__1976:before {
    content: url(http://localhost:8888/wordpressBasquiat/wp-content/uploads/2017/11/brush2.png);
    position: absolute;
    bottom: 50%;
    left: -40%; }

.biography__year1976 {
  height: 85%;
  width: 5px;
  opacity: 0.6;
  background: #E9C22A;
  position: absolute;
  left: -50px; }
  .biography__year1976:before {
    content: '1976';
    transform: rotate(-90deg);
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    color: #FAFAFA;
    position: absolute;
    top: -70px;
    left: -35px; }

.biography__1976image {
  max-height: 600px;
  width: 100%; }
  .biography__1976image img {
    height: 100%;
    width: 100%; }

.biography__1976text h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 26px;
  color: #FAFAFA;
  padding-bottom: 5%; }

.biography__1976text p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #FAFAFA;
  line-height: 21px; }

.biography__1980 {
  padding-top: 10%;
  padding-bottom: 8%; }

.biography__year1980 {
  height: 75%;
  width: 5px;
  opacity: 0.6;
  background: #E9C22A;
  position: absolute;
  left: -50px; }
  .biography__year1980:before {
    content: '1980';
    transform: rotate(-90deg);
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    color: #FAFAFA;
    position: absolute;
    top: -70px;
    left: -35px; }

.biography__1980image {
  height: 100%;
  width: 100%; }

.biography__1980text h2, .biography__1981text h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 26px;
  color: #FAFAFA;
  padding-bottom: 5%; }

.biography__1980text p, .biography__1981text p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #FAFAFA;
  line-height: 21px; }

.biography__year1981 {
  height: 100%;
  width: 5px;
  opacity: 0.6;
  background: #E9C22A;
  position: absolute;
  left: -50px; }
  .biography__year1981:before {
    content: '1981';
    transform: rotate(-90deg);
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    color: #FAFAFA;
    position: absolute;
    top: -70px;
    left: -35px; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.biography__1983 {
  padding-top: 10%;
  padding-bottom: 1%; }

.biography__year1983 {
  height: 80%;
  width: 5px;
  opacity: 0.6;
  background: #E9C22A;
  position: absolute;
  left: -50px; }
  .biography__year1983:before {
    content: '1983';
    transform: rotate(-90deg);
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    color: #FAFAFA;
    position: absolute;
    top: -70px;
    left: -35px; }

.biography__1983image {
  height: 100%;
  width: 100%; }

.biography__1983text h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 26px;
  color: #FAFAFA;
  padding-bottom: 5%; }

.biography__1983text p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #FAFAFA;
  line-height: 21px;
  padding-bottom: 5%; }

.biography__filligrane2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 48px;
  color: #FAFAFA; }
  .biography__filligrane2:before {
    font-family: 'Abril Fatface', cursive;
    font-size: 96px;
    color: #FAFAFA;
    opacity: 0.1;
    content: 'SA VIE PRIVÉE';
    position: absolute;
    left: -50px; }

.biography__1986 {
  padding-top: 10%; }
  .biography__1986:before {
    content: url(http://localhost:8888/wordpressBasquiat/wp-content/uploads/2017/11/brush3.png);
    position: absolute;
    top: 0;
    left: 70%; }

.biography__year1986 {
  height: 80%;
  width: 5px;
  opacity: 0.6;
  background: #E9C22A;
  position: absolute;
  left: -50px; }
  .biography__year1986:before {
    content: '1986';
    transform: rotate(-90deg);
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    color: #FAFAFA;
    position: absolute;
    top: -70px;
    left: -35px; }

.biography__1986image {
  max-height: 600px;
  width: 100%; }
  .biography__1986image img {
    height: 100%;
    width: 100%; }

.biography__1986text h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 26px;
  color: #FAFAFA;
  padding-bottom: 5%; }

.biography__1986text p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #FAFAFA;
  line-height: 21px; }

.biography__1986textBis p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #FAFAFA;
  line-height: 21px;
  padding-top: 5%; }

.biography__filligrane3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 48px;
  color: #FAFAFA; }
  .biography__filligrane3:before {
    font-family: 'Abril Fatface', cursive;
    font-size: 96px;
    color: #FAFAFA;
    opacity: 0.1;
    content: 'LA FIN DU MYTHE';
    position: absolute;
    left: -50px; }

.biography__1987 {
  padding-top: 15%; }

.biography__year1987 {
  height: 80%;
  width: 5px;
  opacity: 0.6;
  background: #E9C22A;
  position: absolute;
  left: -50px; }
  .biography__year1987:before {
    content: '1987';
    transform: rotate(-90deg);
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    color: #FAFAFA;
    position: absolute;
    top: -70px;
    left: -35px; }

.biography__1987image {
  height: 100%;
  width: 100%; }

.biography__1987text h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 26px;
  color: #FAFAFA;
  padding-bottom: 5%; }

.biography__1987text p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #FAFAFA;
  line-height: 21px; }

.biography__1988 {
  padding-top: 10%; }
  .biography__1988:before {
    content: url(http://localhost:8888/wordpressBasquiat/wp-content/uploads/2017/11/brush4.png);
    position: absolute;
    top: 0;
    left: -40%; }

.biography__1988text h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 26px;
  color: #FAFAFA;
  padding-bottom: 5%;
  text-align: center; }

.biography__1988text p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #FAFAFA;
  line-height: 21px; }

.biography__year1988 {
  height: 85%;
  width: 5px;
  opacity: 0.6;
  background: #E9C22A;
  position: absolute;
  left: -50px; }
  .biography__year1988:before {
    content: '1988';
    transform: rotate(-90deg);
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    color: #FAFAFA;
    position: absolute;
    top: -70px;
    left: -35px; }

.biography__last {
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center; }

@media screen and (max-width: 640px) {
  .biography__introContent h1 {
    color: #fefefe;
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 63px; }
  .biography__year1960 {
    left: -10px !important; }
  .biography__1960:before {
    left: 0 !important; }
  .biography__year1968 {
    left: -10px !important; }
  .biography__year1976 {
    left: -10px !important; }
  .biography__year1980 {
    left: -10px !important; }
  .biography__year1981 {
    left: -10px !important; }
  .biography__year1983 {
    left: -10px !important; }
  .biography__year1986 {
    left: -10px !important; }
  .biography__1986:before {
    left: 0% !important; }
  .biography__year1987 {
    left: -10px !important; }
  .biography__year1988 {
    left: -10px !important; } }

.single-content-wrapper {
  margin: 20px; }

.single-content-wrapper .thumbnail {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.single-content-wrapper .thumbnail img {
  width: 100%;
  height: 100%; }

.article-content .article-text img {
  width: 100%;
  margin: auto; }

#content .container {
  width: 100%;
  margin: auto; }

.container .article-content {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #FFFFFF; }

.article-content .article-title {
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: normal;
  line-height: 71px;
  font-size: 48px;
  text-align: left;
  color: #FFFFFF; }

#attachment_21 {
  width: 100%;
  margin: auto; }

.wp-caption {
  margin: 15px;
  font-family: Poppins;
  font-style: italic;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF; }

.article-content .article-date {
  margin-top: 30px;
  font-family: Poppins;
  font-style: italic;
  font-weight: normal;
  line-height: normal;
  text-align: right;
  font-size: 16px;
  color: #FFFFFF; }

.article-end {
  width: 100%;
  margin: auto; }

.article-end .all-articles {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }

.all-articles .home-return {
  margin-bottom: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: #FFFFFF; }

.home-return:hover {
  color: #E3B721; }

.blog__intro {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center; }

.blog__introContent {
  padding-top: 20%; }
  .blog__introContent h1 {
    color: #fefefe;
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 63px; }
  .blog__introContent p {
    color: #fefefe;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2; }

.blog__morePost {
  background: red;
  background: red; }

.contact__items {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #fafafa;
  line-height: 2;
  text-decoration: none;
  margin-top: 10%;
  margin-bottom: 10%; }

.contact__items label {
  font-size: 1rem !important;
  font-weight: 400 !important; }

.contact__submit {
  background: #FAFAFA !important;
  color: #212121 !important;
  border: none !important;
  width: 300px !important;
  height: 38px !important;
  transition: all 0.4s ease !important; }

.contact__submit:hover {
  background: #E9C22A !important;
  color: #fafafa !important; }

.contact__imageWrapper {
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center; }

.contact__text h1 {
  font-size: 1rem !important;
  font-weight: 400 !important;
  font-family: 'Poppins', sans-serif;
  text-align: center; }

body {
  background: #212121;
  color: #fefefe;
  width: 100%;
  overflow-x: hidden; }

.container {
  position: relative;
  width: 80vw; }

header {
  position: fixed;
  top: 85px;
  width: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10; }
  @media screen and (max-width: 768px) {
    header {
      padding: 0 20px; } }

#content {
  height: auto; }

.menu-icon {
  cursor: pointer;
  z-index: 100; }
  .menu-icon .line {
    background-color: white;
    height: 3px;
    width: 60px;
    margin-bottom: 10px;
    z-index: 600;
    margin-top: -3px; }
    @media screen and (max-width: 768px) {
      .menu-icon .line {
        width: 50px; } }
  .menu-icon .line-outer {
    will-change: opacity;
    transition: all 0.4s ease;
    transition-property: opacity; }
  .menu-icon .line-center {
    position: relative;
    transform: translateX(-15px);
    transition: all 0.4s ease;
    transition-property: transform;
    will-change: transform; }
  .menu-icon .line-center:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: all 0.3s ease;
    transition-property: transform;
    will-change: transform;
    z-index: 90; }
  .menu-icon:hover .line-center {
    transform: translateX(0px); }
  .menu-icon .menu-name {
    margin-top: 10px;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .menu-icon .menu-name {
        font-size: .8rem; } }

.menu-wrapper {
  position: fixed;
  top: 30px;
  right: 0;
  bottom: 30px;
  width: 50%;
  height: 100vh;
  background: #fefefe;
  z-index: 50;
  transform: translateX(100%);
  transition: all 0.5s ease; }
  @media screen and (max-width: 768px) {
    .menu-wrapper {
      width: 100%;
      top: 0;
      bottom: 0; } }

.menu-hidden {
  transform: translateX(100%); }

.menu-wrapper .menu-wrapper__list {
  width: 80%;
  margin: auto; }
  .menu-wrapper .menu-wrapper__list .menu-menu-entete-container {
    width: 100%;
    text-align: right; }
    .menu-wrapper .menu-wrapper__list .menu-menu-entete-container .menu_header {
      color: #000;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 4rem;
      line-height: 80px;
      margin-top: 50%; }
      @media screen and (max-width: 768px) {
        .menu-wrapper .menu-wrapper__list .menu-menu-entete-container .menu_header {
          font-size: 3rem; } }
      .menu-wrapper .menu-wrapper__list .menu-menu-entete-container .menu_header li {
        position: relative;
        z-index: 2; }
      .menu-wrapper .menu-wrapper__list .menu-menu-entete-container .menu_header li a {
        text-decoration: none; }
        .menu-wrapper .menu-wrapper__list .menu-menu-entete-container .menu_header li a:hover {
          color: black; }
      .menu-wrapper .menu-wrapper__list .menu-menu-entete-container .menu_header li a:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 70%;
        background: #E9C22A;
        z-index: -1;
        transform: scaleX(0);
        will-change: transform;
        transform-origin: left;
        transition-property: transform;
        transition-duration: .2s;
        transition-timing-function: ease-in-out; }
        @media screen and (max-width: 768px) {
          .menu-wrapper .menu-wrapper__list .menu-menu-entete-container .menu_header li a:before {
            width: 60%; } }
      .menu-wrapper .menu-wrapper__list .menu-menu-entete-container .menu_header li a:hover:before {
        transform: scaleX(1); }

header.header--open .menu-icon .line-outer {
  opacity: 0; }

header.header--open .menu-icon .line-center {
  background: #000;
  transform: rotate(45deg) translateX(0); }

header.header--open .menu-icon .line-center:after {
  transform: rotate(-90deg);
  background: #000; }

header.header--open .menu-icon .menu-name {
  color: #000; }

header.header--open .menu-wrapper {
  transform: translateX(0%); }

@media screen and (max-width: 768px) {
  .logo img {
    width: 70%; } }

#footer {
  background: #fafafa;
  height: auto;
  font-family: 'Poppins', sans-serif; }

.footer__elements {
  padding: 5% 0 5% 10%; }

.footer__text {
  text-align: center;
  padding-left: 10%; }

.footer__text p {
  padding-top: 5%;
  font-size: 1rem;
  color: #212121;
  line-height: 1.5;
  text-align: left; }

.footer__logo {
  width: 50%;
  margin-top: 10%; }

.footer__elements a {
  font-size: 1rem;
  color: #212121;
  line-height: 2;
  text-decoration: none;
  transition: color 0.3s ease; }

.footer__elements a:hover {
  color: #E9C22A; }

.footer__socials {
  padding-top: 7%; }
  @media screen and (max-width: 768px) {
    .footer__socials {
      text-align: center;
      padding-bottom: 7%; } }

.footer__socials ul {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .footer__socials ul {
      justify-content: center; } }

.footer__socials ul li {
  width: 25%; }

.footer__socialIcon {
  width: 30%; }
